* {
    font-family: "Nunito Sans", sans-serif;
}




header {
    display: flex;
    justify-content: space-between;
    > #logo, > #about {
        display: flex;
        align-items: center;
    }
    > #logo {
        justify-content: start;
    }
    > #about {
        justify-content: end;
    }
}

img {
    height: 1.5rem;
}
/* MAIN CONTAINER STYLES */
.container {
    border: 1px solid red;
}


.round-container {
    border-radius: 1.5rem;
}

/* INDIVIDUAL CONTAINER STYLES */
#child-container, #lab-container {
    border-color: var(--color-grey);
}

#advice-container, #journal-container {
    border: none;
}

#advice-container {
    background-color: var(--color-yellow-light);
}

#journal-container {
    background-color: var(--color-yellow-lighter)
}